[Desktop Entry]
Type=Application
Name=INDE
Comment=Integrated Narrative Development Environment
Exec=inde %f
Icon=inde
Terminal=false
Categories=Office;GTK;
MimeType=application/x-inde-project;
StartupWMClass=io.github.inde
